.about-center {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 40px;
}



.about-left {
    width: 35%;
    margin-right: 60px;
}

.about-right {
    width: 40%;
}

.about-right p {
    text-align: justify;
    line-height: 2.0;
}

.social {
    justify-content: center;
}



.about-left img {
    width: 100%;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .about-center{
        flex-direction: column;
    }
    .about-right{
        width: 100%;
    }
    .about-right h1{
        text-align: center;
        transform: scale(0.8);
    
    }

    .social{
        align-items: center;
    }
    .about-left{
        align-items: center;
        width: 100%;
    }
    .about-left img{
        width: 70%;
    }
}


@media screen and (max-width: 480px) {
    .about-center{
        flex-direction: column;
    }

}