.square {
  flex-direction: column;
  position: relative;
  background-color: #A1B5D8;
  height: 300px;
  width: 100%;
  margin-top: -25px;
  z-index: 3;

}

.square h1 {
  padding-top: 10px;
  text-align: center;
}


.wave {
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin-bottom: -5px;
  margin-top: 50px;
}


.skill {
  text-align: center;
  background-color: #A1B5D8;
  margin-top: -25px;
  padding-bottom: 50px;
  padding-left: 20PX;
  padding-right: 20PX;

}

.skill img {
  width: 80px;
}


.skill-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}

.skill-item {
  text-align: center;
}

.skill-item img {
  max-width: 80px;
}

.skill-item :hover {
  transform: scale(1.20);
  transition: 0.6s;
}


@media screen and (max-width: 768px) {
  .square h1 {
    transform: scale(0.5);}

  .skill h1 {
    transform: scale(0.8); }

  .skill {
    padding-bottom: 30px;}

  .skill img{
    transform: scale(0.6);}
}

@media screen and (max-width: 480px) {
  .square {
    margin-top: 0;}

  .skill h1 {
    transform: scale(0.8); 
  }

  .wave {
    margin-top: 10px;
  }

  .skill {
    padding-bottom: 10px;
  }

  .skill img {
    transform: scale(0.6); 
  }

  .skill-icon {
    grid-gap: 10px;
  }
}